{
  "presets": [
    ["stage-2"],
    [
      "env",
      {
        "modules": false,
        "loose": true
      }
    ]
  ],
  "env": {
    "production": {
      "comments": false
    }
  },
  "plugins": [
    "syntax-dynamic-import"
  ]
}